# The Caddyfile is an easy way to configure your Caddy web server.
#
# Unless the file starts with a global options block, the first
# uncommented line is always the address of your site.
#
# To use your own domain name (with automatic HTTPS), first make
# sure your domain's A/AAAA DNS records are properly pointed to
# this machine's public IP, then replace ":80" below with your
# domain name.

#vw.basil1614.duckdns.org {
#	tls /etc/caddy/certs/ssc.crt /etc/caddy/certs/ssk.key
#	reverse_proxy vaultwarden:80
#}

nc.basil1614.duckdns.org {
	tls internal
	reverse_proxy nextcloud-aio-apache:11000

	reverse_proxy /cool/* nextcloud-aio-collabora:9980 {
		transport http {
			versions 1.1
		}
	}
	reverse_proxy /apps/richdocumentscode/proxy.php* nextcloud-aio-apache:11000 {
		transport http {
			versions 1.1
		}
	}
}

photos.basil1614.duckdns.org {
	tls internal
	reverse_proxy immich_server:2283
}

homelab.boa-sailfin.ts.net {
	reverse_proxy vaultwarden:80
	tls /etc/caddy/certs/homelab.boa-sailfin.ts.net.crt /etc/caddy/certs/homelab.boa-sailfin.ts.net.key
}

# Refer to the Caddy docs for more information:
# https://caddyserver.com/docs/caddyfile
